.content-container {
    text-align: center; 
}

/* user-activities .css */
.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}
.cards-container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
    overflow-x: auto; /* Permettre le défilement horizontal  */
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    padding: 16px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card h2 {
    font-size: 1.5em; 
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.card li {
    font-size: 0.9em;
    margin: 10px 0;
}

.card p {
    font-size: 0.9em;
    color: #666;
    margin: 4px 0;
    line-height: 1.4; 
}

.card-link:hover .card {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}



/* ShowUserActivity.css */

.activity-details-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.activity-header {
    text-align: center;
    margin-bottom: 20px;
}

.activity-header h1 {
    font-size: 2em;
    color: #333;
}

.activity-description {
    color: #555;
}

.place-section, .creator-section, .prices-section {
    margin-bottom: 20px;
}

h2 {
    color: #444;
    margin-bottom: 10px;
}

ul.prices-list {
    list-style: none;
    padding-left: 0;
}

ul.prices-list li {
    margin-bottom: 8px;
    background: #f8f8f8;
    padding: 8px;
    border-radius: 4px;
}

.actions {
    text-align: center;
}

.add-to-list-btn {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-list-btn:hover {
    background-color: green;
}



.place-images-section {
    margin-bottom: 20px;
}

.place-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.place-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.place-image:hover {
    transform: scale(1.05);
}


/*font configuration */

body {
    font-family: 'Playfair Display', serif;
    color: #333;
}


h1, h2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #4a4a4a;
    margin-bottom: 10px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #555;
}

.activity-details-container {
    line-height: 1.6;
}

/* Ensure button and actions are consistent */
.add-to-list-btn {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  
}

/* Formulaire Create activity */

.create-form {
    text-align: center; 
}



.create-form .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.create-form .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.create-form .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    padding: 20px;
}

.create-form .form-group {
    margin-bottom: 20px;
}



.create-form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.create-form .form-group input,
.create-form .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-form .button-container {
    text-align: center;
}

.create-form .form-submit {
    background-color: blueviolet;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-form .form-submit:hover {
    background-color: red;
}

/* Style de base pour tous les boutons */

.button-container {
    display: flex; /* Utilise flexbox pour le positionnement */
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px; 
}
.btn {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    color: #ffffff; 
    width: 100%; /* Prend toute la largeur du conteneur */
    max-width: 250px;
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

/* Styles spécifiques pour le bouton bleu */
.btn-blue {
    background-color: #e9c46a; /* Bleu vibrant */
}

.btn-blue:hover, .btn-blue:focus {
    background-color: #fca311; /* Bleu foncé au survol */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Ombre subtile pour effet 3D */
}

/* Styles spécifiques pour le bouton vert */
.btn-green {
    background-color: #e9c46a; /* Vert frais */
}

.btn-green:hover, .btn-green:focus {
    background-color: #fca311; /* Vert foncé au survol */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Ombre subtile pour effet 3D */
}

/* Application des styles de boutons à vos liens existants */
.link-button {
    display: inline-block; /* S'assure que les liens se comportent comme des boutons */
}


/* style.css */

