

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
   
    color: #ffffff;
    margin-right: 25px;
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white;
    text-decoration: none; 
    border-radius: 5px; 
    display: inline-block;
}



.btn-primary:hover {
    background-color:#55dde0;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

/* Title Styles */
.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* Couleur de texte */
}

/* Trip-Specific Classes */
.trip-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trip-details h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.trip-details p {
    font-size: 16px;
    margin-bottom: 16px;
}

.error-messages {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.error-messages ul {
    margin: 0;
    padding-left: 20px;
}

.error-messages li {
    list-style-type: disc;
}

label {
    font-weight: bold;
    color: #555; /* Couleur de texte */
}

.form-submit {
    background-color: #f26419; /* Couleur de fond */
    color: #fff; /* Couleur de texte */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit:hover {
    background-color: #55dde0; /* Couleur de fond au survol */
}


/*members*/



/*Modal */


