/* Styles pour le fond plein écran */
.full-page-background {
    background-image: url('/illustrations/acceuil.jpg');
    background-size: cover;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
 
 
}

.button-container {
    display: flex;
    justify-content: center;
 
    margin-top: 20px;
}

.custom-button {
    background-color: #007bff; 
    color: white; 
    font-size: 15px; 
    font-weight: bold; 
    padding: 12px 24px; 
    border-radius: 8px; 
 
    transition: background-color 0.3s, box-shadow 0.3s; /* Transition douce pour le survol */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la profondeur */
}

.custom-button:hover {
    background-color: #0056b3; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Style général pour la classe `user` */
.user {
    font-weight: bold;
    font-size: 2rem;
    color: #333;
}

/* Style des éléments du conteneur général */
.bg-gray-50,
.grid,
.text-center,
.footer {
    background: rgba(255, 255, 255, 0);
    padding: 35px;
    margin: 0;
    box-shadow: none;
}

/* Styles pour le texte de différentes tailles et en gras */
.text-lg,
.text-3xl,
.font-bold {
    color: #333;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.25rem;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 16px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 1.125rem;
    margin-top: 8px;
    margin-bottom: 32px;
}

/* Styles des cartes */
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    display: inline-block;
    vertical-align: bottom;
}

.card p {
    margin: 0;
}

/* Image de fond */
.fond-image {
    width: 100%;
    margin-bottom: 100px;
}

/* Icônes SVG */



/*dash board */

.bg-transparent {
    background-color: rgba(255, 255, 255, 0.7); 
    z-index: 1;
    position: relative; 
    padding: 20px; /* Ajoute un espace interne */
    margin: 20px; 


}
.shadow-none {
    box-shadow: none;
}


/*sidebar*/
